<div class="mt-5">
    <div class="container"> <!-- div para que en formato movil se vea con márgenes a izquierda y derecha -->
        <div class="col-12 col-lg-6 offset-0 offset-lg-3"> <!-- formulario centrado -->
            <form [formGroup]="newPostForm" (ngSubmit)="getDataPost()">
                <div>
                    <label class="form-label" for="title">Titulo</label>
                    <input type="text" id="title" formControlName="title" placeholder="introduce título del post"
                        class="form-control">
                    @if(checkFieldError('title', 'required')){
                    <p class="error">Campo obligatorio</p>
                    }
                </div>

                <div>
                    <label class="form-label" for="text">Texto</label>
                    <textarea rows="4" cols="30" id="text" formControlName="text" placeholder="introduce el texto"
                        class="form-control"></textarea>
                    @if(checkFieldError('text', 'required')){
                    <p class="error">Campo obligatorio</p>
                    }
                </div>

                <div>
                    <label class="form-label" for="author">Autor</label>
                    <input type="text" id="author" formControlName="author" placeholder="introduce el autor"
                        class="form-control">
                    @if(checkFieldError('author', 'required')){
                    <p class="error">Campo obligatorio</p>
                    }
                </div>


                <div>
                    <label class="form-label" for="image">Imagen</label>
                    <input type="string" id="image" formControlName="image" placeholder="introduce una url válida"
                        class="form-control">
                    @if(checkFieldError('image', 'required')){
                    <p class="error">Campo obligatorio</p>
                    }
                    @if(checkFieldError('image', 'pattern')){
                    <p class="error">Introduce una URL válida</p>
                    }
                </div>
                <div>
                    <label class="form-label" for="date">Fecha</label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                </div>
                <div>
                    <app-select-category (seleccionEmitida)="recibirCategoria($event)"></app-select-category>
                </div>

                <div class="my-3">
                    <input type="submit" class="btn btn-info" value="Enviar" [disabled]="newPostForm.invalid">
                </div>
            </form>
        </div>
    </div>
</div>